:root {
  --background-color: #f8f9fa;
  --font-color: #333;
  --primary-color: #1eaedb;
  --secondary-color: #6e8fb3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


body {
  background-color: var(--background-color);
  color: var(--font-color);
}

header {
  background-color: white;
  color: var(--font-color);
  padding: 2rem;
  text-align: center;
  font-weight: 700;
}

/* Navbar */
.navbar {
  background-color: white;
  border-bottom: 1px solid #e2e8f0;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
  color: #1eaedb;
}
.nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: #1eaedb;
  font-weight: 500;
}
.button-entrar {
  background-color: #1eaedb;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: opacity 0.3s ease;
}
.button-entrar:hover {
  opacity: 0.9;
}
/* Main*/ 

main {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

section {
  margin-bottom: 3rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50%;
}

.content h1 {
  font-size: 4rem;
  margin: 0;
}

.content h2 {
  font-size: 2rem;
  font-weight: 600;
}

.content p {
  font-size: 1rem;
  color: #555;
}

.button-trilha,
.button-descobrir {
  text-decoration: none;
  color: white;
  background-color: #2563eb;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: 500;
  transition: opacity 0.3s ease;
  display: inline-block;
}

.button-trilha:hover,
.button-descobrir:hover {
  opacity: 0.9;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

#conteudo-page {
  display: flex;
  /* muda a direção de alinhamento dos itens */
  flex-direction: column;
  /* espalha os elementos filho verticalmente por causa do flex direction */
  justify-content: space-between;
  /* centraliza os elementos filhos verticalmente */
  align-items: flex-end;
  /* distância entre os elementos filhos */
  gap: 10px;
  /* altura do elemento */
  height: 100px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}
.vertical {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cards-grid .card a {
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s;
}
.cards-grid .card a:hover {
  background-color: #168cb2;
}

.assistente-ia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

/*.card-conteudo,
      .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        justify-content: center;
        align-items: stretch;
      }

      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        padding-bottom: 1rem;
      }

      .card a {
        margin-top: auto;
        background-color: var(--primary-color);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        text-decoration: none;
        font-weight: 500;
        transition: background-color 0.3s;
      }

      .card a:hover {
        background-color: #168cb2;
      }

      .card img {
        width: 40px;
        height: 40px;
        margin-bottom: 1rem;
      } */
footer {
  text-align: center;
  padding: 2rem;
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;
}
